<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peter's Music</title>
    {% style "/css/screen.css" %}
</head>
<body>
<div class="release">
    <div class="relart"><img src="/release-art/{{release.id}}"></div>
    <div class="relinfo">
        <h1>{{release.title}}</h1>
        <p>by <a href="/artist/{{release.artist.id}}">{{release.artist.name}}</a></p>
        <p>{{release.media-descr}}</p>
        <p>Released: {{release.released}}</p>
        {% if release.label %}<p>Label: {{release.label}}</p>{% endif %}
        {% if release.catalog %}<p>Catalog: {{release.catalog}}</p>{% endif %}
    </div>
</div>
<div class="tracks">
    {% for media in medias %}
    <h1>{{media.name}}{% if media.title %} {{media.title}}{% endif %}</h1>
    <div class="tracklist">
        {% for track in media.tracks %}
        <p>{{track.side}}-{{track.number|number-format:%02d}} {{track.title}}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</body>
</html>